.contact {
  background-color: #ced3ca;
  padding: 82px 510px 129px 510px;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }

  &__heading {
    margin-bottom: 19px;
    font-size: 34px;
    line-height: 41px;
    text-align: center;
  }

  &__text {
    margin-bottom: 56px;
    width: 343px;
    font-size: 16px;
    line-height: 22px;
    text-align: center;

  }

  &__form {
    display: flex;
    align-items: center;
  }
}

.contact-form {

  &__imput {
    width: 338px;
    height: 48px;
    padding: 10px;
    border: #1a1a1a solid 1px;
  }

  &__btn {
    width: 66px;
    height: 50px;
    margin-right: -1px;
    background-color: #fff;
    border: #1a1a1a solid 1px;
  }
}
